<!DOCTYPE html>
<html>
    <body>

        <h2>Html Forms</h2>

        <form action="/submit" method="post">
            <lable for="Maths">Maths:</lable><br>
            <input type="text" id="maths" name="maths" value="0"><br>
            <lable for="C">C:</lable><br>
            <input type="text" id="c" name="c" value="0"><br>
            <lable for="Physics">Physics:</lable><br>
            <input type="text" id="physics" name="physics" value="0"><br>
            <input type="submit" value="submit">

        </form>
        <p>if the page you click on the "Submit" button,the form-data will be sent to a page</p>
    </body>
</html>